---
import Welcome from '../components/Welcome.astro';
import Navbar from '../components/Navbar.tsx';
import LogoZone from '../components/LogoZone.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<LogoZone />
	<Navbar client:load />
	<div class="green-star-background">
		<img src="/greenstar.svg" alt="" class="green-star" />
	</div>
	<main class="main-content">
		
	</main>
</Layout>

<style>
	.main-content {
		padding-top: 0; /* No longer need padding for fixed navbar */
	}

	.green-star-background {
		position: fixed;
		top: 131px;
		left: -116px;
		width: 436px;
		height: 464px;
		pointer-events: none;
	}

	.green-star {
		width: 100%;
		height: 100%;
		opacity: 1;
	}
</style>
