---
import Welcome from '../components/Welcome.astro';
import Navbar from '../components/Navbar.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Navbar client:load />
	<main class="main-content">
		<Welcome />
	</main>
</Layout>

<style>
	.main-content {
		padding-top: 5rem; /* Account for fixed navbar */
	}
</style>
